@import "./../../../scss/functions";

// Setting size of image and correcting position
img{
  height: 15em;
  @include posCorrection(12em 10em 0em 30em, relative, 0, 0);
}

// Setting size of reset field and correcting position
.reset-fields{
  width: fit-content;
  @include posCorrection(0 0 1em 0, relative, 55em, -23em);
}

button{
  @include posCorrection(0, relative, 55em, -23em);
}

// Setting size of navigation and correcting position
nav{
  background-color: saturate($color: #673ab7, $amount: 0);
  height: 4em;
  img{
    height: 2.5em;
    @include posCorrection(0.75em 0em 0em 15em, relative, 0, 0);
  }
  // Setting display of healines
  .mat-headline{
    color: #fff;
    display: inline;
    @include posCorrection(0, relative, 1em, -0.25em);
  }
  button{
    @include posCorrection(0 2em 0 0, relative, 50em, -0.75em);
  }
}

.mat-display-1{
  color: grey
}
