<app-app-header></app-app-header>
<img src="../../assets/ExpenseDistLogo.jpg" routerLink="/" />

<div *ngIf="show">
  <form [formGroup]="myForm">
  <div class="reset-fields">
    <div class="mat-display-1">Reset Your Password</div>
    <div class="mat-body">
      Enter your email address and we’ll send you a link to reset your password.
    </div>
    <app-alert></app-alert>
    <mat-label>Email Address</mat-label>
    <p>
      <mat-form-field appearance="outline">
        <input
          #myInput
          matInput
          type="text"
          name="myInput"
          required
          class="form-control"
          formControlName="email"
          [ngClass]="{'is-invalid': email.errors && (email.touched || email.dirty), 'is-valid':email.valid}"
          matTooltip="{{ utility.emailTip }}"
          matTooltipPosition="after"
          placeholder="example@gmail.com"
        />
        <mat-hint>example@domain.com</mat-hint>
        <mat-error *ngIf="email.errors?.required">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </p>
  </div>
  <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="recover(myInput.value)">
    Reset Password
  </button>
</form>
</div>

<div *ngIf="!show">
  <form [formGroup]="myNewForm">
  <div class="reset-fields">
    <div class="mat-body">
      Enter the OTP you must've recieved on your registered email.
    </div>
    <mat-label>6 digit OTP</mat-label>
    <p>
      <mat-form-field appearance="outline">
        <input
          #myOTP
          matInput
          type="text"
          name="myOTP"
          class="form-control"
          formControlName="otp"
          [ngClass]="{'is-invalid': otp.errors && (otp.touched || otp.dirty), 'is-valid':otp.valid}"
          matTooltip="{{ utility.otpTip }}"
          matTooltipPosition="after"
          placeholder="123456"
        />
        <mat-hint>123456</mat-hint>
        <mat-error
        *ngIf="otp.errors?.required">
          Please enter a 6 digit OTP</mat-error
        >
        <mat-error *ngIf="utility.otpFormControl.hasError('required')">
          6 digit OTP is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <app-alert></app-alert>
    <mat-label>New Password</mat-label>
    <p>
      <mat-form-field appearance="outline">
        <input
          #myPassword
          matInput
          type="password"
          name="myPassword"
          class="form-control"
          formControlName="password"
          [ngClass]="{'is-invalid': password.errors && (password.touched || password.dirty), 'is-valid':password.valid}"
          matTooltip="{{ utility.passwordTip }}"
          matTooltipPosition="after"
          placeholder="password"
          matTooltip="Info about the action"
        />
        <mat-hint>samplePwd@123S</mat-hint>
        <mat-error *ngIf="password.errors?.required">
          Please enter a valid Password
        </mat-error>
        <mat-error *ngIf="utility.passwordFormControl.hasError('required')">
          Strong Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <mat-label>Confirm Password</mat-label>
    <p>
      <mat-form-field appearance="outline">
        <input
          #myConfirmPassword
          matInput
          type="password"
          name="myConfirmPassword"
          class="form-control"
          formControlName="password"
          [ngClass]="{'is-invalid': password.errors && (password.touched || password.dirty), 'is-valid':password.valid}"
          matTooltip="{{ utility.passwordTip }}"
          matTooltipPosition="after"
          placeholder="password"
          matTooltip="Info about the action"
        />
        <mat-hint>samplePwd@123S</mat-hint>
        <mat-error *ngIf="password.errors?.required">
          Please enter a valid Password
        </mat-error>
        <mat-error *ngIf="utility.passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <span
          *ngIf="
            myConfirmPassword.touched && myConfirmPassword.errors?.notEqual
          "
          >Password & Confirm Password does not Match</span
        >
      </mat-form-field>
    </p>
  </div>
  <button
    mat-raised-button
    [disabled]="myNewForm.invalid"
    color="primary"
    (click)="reset(myOTP.value, myPassword.value, myConfirmPassword.value)"
  >
    Reset Password
  </button>
</form>
</div>
