// styling of view group component
mat-form-field{
  margin: 0 5% 0 5%;
}

.buttonBoard{
  position: relative;
  margin-top: 1%;
  margin-left: 10%;
  button{
    margin: 0 2% 0 2%;
  }
}

.mat-display-1{
text-align: center;
}
